@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap");

.wrapper,
.addloan_wrapper,
.display_users_wrapper {
  font-family: "Inter";
}

::selection {
  background-color: rgb(29, 202, 255);
  color: white;
}

::placeholder {
  font-size: 16px;
}

a {
  color: black;
}

.wrapper {
  max-width: 250px;
  margin: 30px auto;
}

.squeeze_header h2 {
  font-size: 40px;
  text-align: center;
  font-family: "BhuTuka Expanded One", cursive;
}

#main_title a {
  text-decoration: none;
  color: black;
}

.squeeze_header p {
  text-align: center;
  margin-top: -10px;
}

.not_a {
  text-align: center;
}

.not_a a {
  text-decoration: none;
}

.not_a a:hover {
  text-decoration: underline;
}

p {
  margin-top: 20px;
  color: #707070;
}

label {
  margin-top: 25px;
  color: #272424;
  font-size: 16px;
}

label,
p {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
.select_role_dropdown {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  height: 50px;
  margin-top: 15px;
  padding: 15px;
  font-size: 17px;
  border-color: gray;
  outline: 0;
}

form {
  margin-top: 25px;
}

button,
select {
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 17px;
  color: #777;
  cursor: pointer;
}

select {
  width: 100%;
  outline: 0;
}

.username_email {
  display: flex;
}

#username {
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
}

.username_email #email {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#admin_button {
  width: 100%;
  background-image: linear-gradient(to bottom, #8a20e0 0%, #a608c5 100%);
  border: 0;
  border-radius: 80px;
  color: white;
  padding: 15px;
  text-align: center;
}

button[type="submit"] {
  width: 100%;
  background-image: linear-gradient(to bottom, #3ba1e6 0%, #257bdf 100%);
  border: 0;
  border-radius: 12px;
  color: white;
  padding: 15px;
  text-align: center;
  font-family: "Inter";
}

button[type="submit"]:hover {
  opacity: 0.9;
}

#login_,
#register_ {
  font-size: 25px;
  font-family: "Helvetica";
}

.navbar {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom, #0e3855 0%, #0a2849 100%);
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.navbar__title {
  margin-right: auto;
  font-size: 20px;
  padding: 12px 16px;
  font-family: "BhuTuka Expanded One", cursive;
  font-weight: 900;
}

.navbar__item {
  padding: 16px 20px;
  cursor: pointer;
  vertical-align: middle;
}

.count_of_applications {
  text-align: center;
  font-size: 20px;
}

#count_number {
  color: rgb(54, 52, 52);
}

.applicants_list {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.applicant_deets {
  border-bottom: 1px solid;
  padding: 30px;
}

#applicant_name {
  font-family: "Helvetica";
  font-size: 18px;
  font-weight: 700;
  color: black;
}

.approve_btn {
  background-image: linear-gradient(to bottom, #18b991 0%, #0ca57f 100%);
  color: white;
  font-weight: 600;
  border: none;
}

.reject_btn {
  background-image: linear-gradient(to bottom, #ce3d5c 0%, #df3459 100%);
  color: white;
  font-weight: 600;
  border: none;
}

.download_files_btn:hover,
.approve_btn:hover,
.reject_btn:hover {
  opacity: 0.9;
}


#box4{
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  display: table-cell;

}
#enterName,#selectDocumentType,#enterEmail,#enterMobile,#enterSalary,#enterAddress,#enterPanNo,#enterAadharNo,#enterMonths,#enterAmount{
  box-sizing: border-box;
  width: 50%;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  height: 50px;
  margin-top: 15px;
  margin-right: 5px;
  padding: 25px;
  padding-right: 10px;
  font-size: 17px;
  border-color: gray;
  outline: 0;

}
#selectDocumentType{
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  width: 25%;
  margin-left: 15px;
  margin-right:15px;
}

#applyLoanButton{
  background-color: lightcoral;
  width:25%; 
  margin: 10px;
  align-items: right;
}

#uploadDocumentsButton{
  background-color: blue;
  margin-left: 5px;

  
}

.pages3{
  display: grid;
  grid-template-columns: auto auto;
  
  margin-left: 10%;


}
.pages2{
  display: none;
}


.secondpage{
  width: 100%;
  margin-left: 40%;

  
}
#add{
  color: red;
  
}


#track_application_text,
#profile_info_text,
#loan_success_msg {
  color: black;
  font-size: 20px;
  text-align: center;
}

#loan_sucess_id {
  font-size: 30px;
  text-align: center;
}

#trackButton {
  background-image: linear-gradient(to bottom, #18b991 0%, #0ca57f 100%);
  text-align: center;
  border-radius: 5px;
  margin-top: 15px;;
}

.profiles_content {
  display: flex;
  width: 100%;
  border: 1px solid black;
  gap: 30%;
  padding: 30px;
}


@media only screen and (max-width: 100%) {
  .wrapper {
    padding: 18px;
  }

  .applicants_list {
    width: 95%;
    padding: 1px;
  }
}

.image-container{
  background-color: lightgray;
  margin-left: 20%;
  margin-bottom:20px;
  margin-top: 10px;
  width: 70%;
  height:50%;
  display: grid;
  grid-template-columns: auto auto auto;
  display: flex;
  column-gap: 20px;
}

.approve-btn{
  padding: 5px;
  color: black;
  background-color: green;
}
.reject-btn{
  padding: 5px;
  color: black;
  background-color: red;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.addloan_form .error {
  color: red;
  border-color: red;
}

.addloan_form .error-message {
  display: block;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}